<div *ngIf="artistDataList && artistDataList.length == 0" class="no-results">No records found.</div>
<ng-container *ngIf="artistDataList && artistDataList.length > 0">
  <div class="carousel-container">
    <carousel [noWrap]="artistDataList.length === 1" [noPause]="true" [interval]="0">
      <slide *ngFor="let artistData of artistDataList">
        <div class="artist-data artist-data-container">

          <div class="row custom-row-width">
            <div class="col-lg-3 col-md-6 col-sm-12 centered-content">
              <img *ngIf="artistData.image" [src]="artistData.image.url" [alt]="artistData.name" class="artist-image">
              <h4 class="lime-text-size-14">{{artistData.name}}</h4>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 centered-content">
              <p class="lime-text-size-14">Popularity</p>
              <div class="popularity-container">
                <mat-progress-spinner
                  [value]="artistData.popularity"
                  mode="determinate"
                  color="warn"
                  diameter="50"
                  strokeWidth="5">
                </mat-progress-spinner>
                <span class="popularity-value">{{artistData.popularity}}</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 centered-content">
              <p class="lime-text-size-14">Followers</p>
              <div>{{artistData.followers}}</div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 centered-content">
              <p class="lime-text-size-14">Spotify Link</p>
              <a [href]="artistData.spotifyUrl" target="_blank">
                <i class="bi bi-spotify"></i>
              </a>
            </div>
          </div>
          <div class="album-covers">
            <h5 class="lime-text-size-14">Album featuring {{artistData.name}}</h5>
            <div class="container">
              <div class="row">
                <ng-container *ngFor="let albumCoverImage of artistData.albumCoverImages">
                  <div class="col-lg-3 col-md-6 col-sm-12 centered-content">
                    <img *ngIf="albumCoverImage" [src]="albumCoverImage.url" [alt]="'Album Cover'" class="album-cover-image">
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

        </div>
      </slide>
    </carousel>
  </div>
</ng-container>