.no-results {
    width: 60%;
    background-color: white;
    color: red;
    text-align: center;
  }

.lime-text-size-14 {
    color: 	rgb(127, 255, 212);
    font-size: 18px;
}

.artist-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .popularity-container {
    position: relative;
    display: inline-block;
  }
  
  .popularity-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }

  .album-cover-image {
    width: 200px;
    height: 200px;
    margin: 20px 35px 0px 35px;
    object-fit: cover; /* To maintain the aspect ratio while resizing the image */
  }

.no-results,
.artist-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-container {
  width: 100%;
}

.row {
  width: 100%;
  justify-content: center;
}

.custom-row-width {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
  }

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }