table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    padding: 0 100 0 100;
    border-radius: 10px;
  }
  
  td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }
  
  th {
    cursor: pointer;
  }
  
  
  tr:hover {
    background-color: #ddd;
  }
  
  thead {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  }

  .no-results {
    width: 60%;
    background-color: white;
    color: red;
    text-align: center;
  }

  .nameLink {
    color: black;
    text-decoration: none;
  }
  
  .nameLink:hover {
    color: blue;
  }

  .custom-table {
    background-color: #232323;
    color: #fff;
  }
  
  .custom-table tbody tr:nth-child(odd) {
    background-color: #2e2e2e;
  }
  
