.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgb(17, 4, 4);
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: auto;
  }
  
  .close-button {
    background-color: rgb(39, 64, 255);
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 10px;
  }


.frosted-glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    max-width: 950px;
    margin: 0 auto;
    color: #fff;
    justify-content: center;
    padding:10px;
    }

.header {
    font:300 22px/1.5 'Open Sans', sans-serif;
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    }

.back-icon {
    font-size: 18px;
    }
.back-btn {
    color: white;
    text-decoration: underline;
    font-size: 18px;
    }

.red{
    color: red;
    }

.grey{
    color: grey;
    }
    
.header-container {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: center;
    }

.fav {
    background-color: white;
    border-radius: 50%; /* Creates a rounded shape */
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    }

.eventDetailData-name {
    font-family: Arial, Helvetica, sans-serif; /* Change to the desired header font */
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    }

.test{
    background-color: aquamarine !important;
    color:white;
}