.frosted-glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    justify-content: center;
    }

.header {
    font:300 30px/1.5 'Open Sans', sans-serif;
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
    }

.back-btn {
    color: white;
    text-decoration: underline;
    }

.red{
    color: red;
    }

.grey{
    color: grey;
    }
    
.header-container {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: center;
    }

.fav {
    background-color: white;
    border-radius: 50%; /* Creates a rounded shape */
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    }

.eventDetailData-name {
    font-family: Arial, Helvetica, sans-serif; /* Change to the desired header font */
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    }