<div bsModal #mapModal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" [config]="{backdrop: false, keyboard: false}">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal content -->
        <div class="modal-header">
          <h5 class="modal-title" id="mapModalLabel">Event Venue</h5>
        </div>
        <div class="modal-body">
          <div class="my-google-map">
            <google-map *ngIf="venueData && venueData.location && isMapJSloaded" class="map" [options]="{ center: {lat: toNumber(venueData.location.latitude), lng: toNumber(venueData.location.longitude)}, zoom: 14 }">
              <map-marker [position]="{lat: toNumber(venueData.location.latitude), lng: toNumber(venueData.location.longitude)}"></map-marker>              
            </google-map>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
        </div>
      </div>
    </div>
  </div>