/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.frosted-glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    }