<div *ngIf="showAlert" class="custom-alert" role="alert">
    {{ alertMessage }}
    <button class="close-button" (click)="closeAlert()">OK</button>
  </div>

<div *ngIf="favoriteEvents && favoriteEvents.length == 0" class="no-results">No favorite events to show.</div>
<ng-container *ngIf="favoriteEvents && favoriteEvents.length > 0">
<h2 class="lime-text-size-14 text-center">List of your favorite events</h2>

<table>
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Event</th>
        <th>Category</th>
        <th>Venue</th>
        <th>Favorite</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of favoriteEvents; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ event.date }}</td>
        <td>{{ event.event }}</td>
        <td>{{ event.category }}</td>
        <td>{{ event.venue }}</td>
        <td>
          <div class="material-icons back-icon" (click)="removeFavoriteEvent(event.id)">delete_outline</div>
        </td>
      </tr>
    </tbody>
  </table>

</ng-container>