.frosted-glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    max-width: 650px;
    }

.searchHeader{
    border-bottom: 1px solid white;
    padding-bottom: 20px ;
  }

.no-left-margin  {
    margin-left: 0px;
    padding-left: 0px;
  }

form {
    padding: 20px;
    border-radius: 1px;
    background-color: rgba(77, 70, 70, 0.6);
    max-width: 800px;
    margin: 20px auto;
}
  
  /* Add styling for form elements */
  input[type="text"],
  select,
  input[type="number"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 1px solid white;
      background-color: transparent;
      box-sizing: border-box;
      color: black;
      background-color: white;
  }
  
  input[type="checkbox"] {
      margin-bottom: 20px;
  }
  
  input[type="submit"],
  input[type="button"] {
      width: 100px;
      padding: 10px;
      margin: 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: white;
  }
  
  input[type="submit"] {
      margin-right: 20px;
      background-color: rgb(255, 0, 0);
  }
  
  input[type="button"] {
      margin-left: 20px;
      background-color: rgb(32, 69, 164);
  }
  
  input[type="submit"]:hover {
    background-color: rgb(255, 71, 71);
  }
  
  input[type="button"]:hover {
    background-color: rgb(64, 107, 200); /* lighter color */
  }
  
  h2 {
      text-align: center;
      color: white;
  }
  
  label[for="keyword"]::after, label[for="category"]::after, label[for="location"]::after {
  content: "*";
  color: red;
  }
  
  label[for="distance"], label[for="category"], label[for="keyword"], label[for="location"], label[for="auto-detect"]{
      font-size: small;
      display: inline-block;
      width: 50%;
      color: rgb(109, 201, 230);
  }
  
  #category {
    color: black;
  }

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }