<p>search-form works!</p>

<form [formGroup]="searchForm" class="frosted-glass" #searchFormElement>
  <h2 class="searchHeader">Events Search</h2>
  <label for="keyword">Keyword</label><br>
    <input formControlName="keyword" type="text" id="keyword" required matInput [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of autoCompleteResults | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  <input formControlName="distance" type="number" id="distance" placeholder="10" />
  <label for="category">Category</label>
  <select formControlName="category" id="category" required>
    <option value="default">Default</option>
    <option value="music">Music</option>
    <option value="sports">Sports</option>
    <option value="arts">Arts & Theatre</option>
    <option value="film">Film</option>
    <option value="misc">Miscellaneous</option>
  </select>
  <label id="location_label" for="location">Location</label>
  <input formControlName="autoDetect" type="checkbox" id="auto-detect" (change)="toggleLocation()" />
  <label for="auto-detect">Auto-detect location</label>
  <div *ngIf="!isLocationHidden" id="location-container">
    <input formControlName="location" type="text" name="location" id="location" [attr.required]="!isLocationHidden" />
  </div><br>
  <input type="submit" id="search_btn" value="SEARCH" (click)="onSubmit()"/>
  <input type="button" id="clear" value="CLEAR" (click)="clear()" />
</form>

