
<form [formGroup]="searchForm" class="frosted-glass" #searchFormElement>
  <h2 class="searchHeader">Events Search</h2>
  <label for="keyword">Keyword</label><br>
    <input formControlName="keyword" type="text" id="keyword" required matInput [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of autoCompleteResults | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <div class="container">
      <div class="row">
        <div class="col-md-6 no-left-margin">
          <label for="distance">Distance</label><br>
          <input formControlName="distance" type="number" id="distance" placeholder="10" />
        </div>
        <div class="col-md-6 no-left-margin">
          <label for="category">Category</label>
          <select formControlName="category" id="category" required>
            <option value="default">Default</option>
            <option value="music">Music</option>
            <option value="sports">Sports</option>
            <option value="arts">Arts & Theatre</option>
            <option value="film">Film</option>
            <option value="misc">Miscellaneous</option>
          </select>
        </div>
      </div>
    </div>
  <label id="location_label" for="location">Location</label>

  <div id="location-container">
    <input formControlName="location" type="text" name="location" id="location" [attr.required]="!isLocationHidden" />
  </div>
  <div>
  <input formControlName="autoDetect" type="checkbox" id="auto-detect" (change)="toggleLocation()" />
  <label for="auto-detect">&nbsp;Auto-detect your location</label><br>
  </div>
  <div class="button-container"> 
  <input type="submit" id="search_btn" value="SUBMIT" (click)="onSubmit()"/>
  <input type="button" id="clear" value="CLEAR" (click)="clear()" />
  </div>
</form>

